 /* ---------------------------------------------------Body--------------------------------------------------- */
body {
    margin: 0px;
    background-image: url(/img/Fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* ---------------------------------------------------Nav--------------------------------------------------- */

 nav {
     position: fixed;
     width: 100%;
     height: 100px;
     background-color: #fff;
     z-index: 3;
 }
 .logo-chelo {
     left: 5%;
     position: absolute;
     width: 9%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .logo-chelo img{
     position: absolute;
     width: 100%;
     cursor: pointer;
     margin: 0px;
 }
 .enlaces-contenedor {
     /* background-color: aquamarine; */
     position: absolute;
     width: 70%;
     right: 0px;
     top: 25px;
 }
 .enlaces-contenedor ul {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .enlaces-contenedor ul li{
     list-style: none;
}
.enlaces-contenedor ul li a{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}
.enlaces-contenedor ul li a:hover{
    color: #ffda44;
    filter: drop-shadow(4px 0px 4px black);
}
 /* ---------------------------------------------------Primera Sección--------------------------------------------------- */

 #Primera-Seccion {
     top: 110px;
     position: relative;
     width: 100%;
     height: 40rem;
 }

 /* ---------------------------------------------------Segunda Sección--------------------------------------------------- */

 .lema {
     position: relative;
     top: 110px;
     height: 12rem;
     color: #ffffff;
     font-family: 'Playball', cursive;
     font-size: 2rem;
     letter-spacing: 0.5rem;
     background-color: #1d262d;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50% 0% 50% 0%;
     margin-top: 2rem;
     margin-bottom: 2rem;
     background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
     box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 }

 .lema>p {
     margin: 0px;
 }

 #Segunda-Seccion {
     position: relative;
     top: 110px;
     cursor: pointer;
     width: 100%;
     height: 40rem;
     display: flex;
     flex-flow: row wrap;
     margin-bottom: 1rem;
 }

 .Herramientas, .Hombres {
     /* background-color: rgb(238, 238, 238); */
     background-color: white;
     width: 50%;
     height: 90%;
     display: flex;
     justify-content: center;
     /* filter: blur(1.5px); */
     cursor: pointer;
 }

 .Herramientas:hover, .Hombres:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.842);
     /* filter: blur(0px); */
 }

 .men {
     text-align: center;
     width: 60%;
     cursor: pointer;
 }

 .tijera {
     cursor: pointer;
     text-align: center;
     width: 60%;
 }

 .subtitulos {
     cursor: default;
     background-color: #000000;
     color: #ffda44;
     font-size: 1.7rem;
     width: 100%;
     height: 5rem;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
 }

 .subtitulos h2 {
     text-align: center;
     width: 50%;
     margin: 0px;
     padding: 0px;
 }

 .subtitulos2 {
     position: relative;
     cursor: default;
     background-color: #000000;
     color: #ffda44;
     font-size: 1.7rem;
     width: 100%;
     height: 5rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* ---------------------------------------------------UBICACION--------------------------------------------------- */

 #Tercera-Seccion {
     position: relative;
     top: 110px;
     width: 100%;
     height: 40rem;
 }

 /* ---------------------------------------------------Footer--------------------------------------------------- */

 footer {
     position: relative;
     top: 110px;
     position: relative;
     font-family: Proxima Nova, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
     font-weight: 600;
     color: #5f7d95;
     width: 100%;
     height: 40rem;
     background-color: #1d262d;
 }

 .caja {
     display: flex;
     flex-flow: row wrap;
     height: 80%;
     width: 100%;
 }

 .one {
     width: 50%;
     height: 80%;
 }
 .pp {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .one img {
     opacity: .6;
     position: absolute;
     width: 30%;
     filter: grayscale(100%);
     /* filter: invert(.2); */
     
 }

 .two {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 20%;
 }
 .two p {
     margin-top: 70px;
 }

 .Autor {
     opacity: 0.5;
     position: absolute;
     bottom: 0px;
     width: 100%;
     height: 7%;
     background-color: #374957;
 }

 .Autor p {
     text-align: center;
 }

 .Autor p a:hover {
     cursor: pointer;
     color: #889cad;
 }

 .Autor p a {
     color: #5f7d95;
     text-decoration: none;
 }

 .cubito {
     transform: rotate(45deg);
     background-color: black;
     position: absolute;
     width: 6%;
     height: 80px;
     left: 47%;
     top: 40px;
     z-index: 1;
 }
 .sobre-exponer {
     z-index: 2;
 }

 .text-pri {
    margin-top: 3rem;
    font-family: 'Norican', cursive;
    font-size: 2.5rem;
    text-align: center;
 }
 .text-sec {
    font-family: 'PT Serif', serif;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    text-align: center;
    filter: drop-shadow(4px 0px 4px #5f7d95);
 }
 .text-ter {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    text-align: center;
 }
 .text-cua {
    font-size: 1.3rem;
    text-align: center;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.1rem;
 }

body::-webkit-scrollbar {
    background-color: #1d262d; 
    width: 15px;
}
body::-webkit-scrollbar-thumb {
    background-color: #5f7d95;
    border-radius: 5px;
}